.handle{
    height: 250px;
    width: 225px;
}

.dumbpic{
    height: 225px;
    width: 325px;
}

.sabercolor{
    height: 300px;
    width: 300px;
}

body{
    background: url(img/background.image.jpg) ;
}

.Handles{
    display: flex;
    flex-direction: row;
}

.Colors{
    display: flex;
    flex-direction: row;
}

#sidebar {
    float: right;
}